name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4 # Get the files (because it doesn't just be there by default like Jenkins )
    - name: Build the Docker image 
      run: docker build . --file Dockerfile --tag Hola
